/venv/
/.idea/
/examples/scikit-mobility/maps/
/examples/anonymize/data/CSV_SF_Cabs/
/examples/anonymize/data/TXT_SF_Cabs/
/examples/anonymize/out/actual_dataset_loaded.csv
/examples/anonymize/out/cabs_scikit_anonymized.csv
/examples/data/cabs_dataset_all.csv
*.pyc
/utilities/Geolife_dataset_to_CSV/data/
/utilities/Cab_dataset_to_CSV/full_SF_cabs_dataset/
/examples/out/
/utilities/Cab_dataset_to_CSV/full_SF_cabs_dataset/
/examples/outputs/
/utilities/Rome_taxi_dataset_to_CSV/taxi_february.txt
/examples/output/
